go 1.27

use (
	./batcher
	./caseconv
	./cmd/monotag
	./convert
	./errs
	./fieldalign
	./itemcache
	./lookuptablelint
	./mapcache
	./net
	./pgconv
	./set
	./shutdown
	./slicer
	./sqlconv
	./stringbuilderlint
	./structify
	./strutils
	./tasker
)
